<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/index.css">
	<title>My Page Tite</title>
</head>
<body>
	<ul id="nav">
	<li class="nav-link" href = 'madlib'>
		<h1 data-name="Madlib"> <a href="madlib">Madlibs</a></h1>
	</li>
	<li class="nav-link">
		<h1 data-name="Weather"><a href="getweather">Weather</a></h1>
	</li>
	<li class="nav-link">
		<h1 data-name="services">services</h1>
	</li>
	<li class="nav-link">
		<h1 data-name="contact">contact</h1>
	</li>
</ul>
</body>
</html>