<!DOCTYPE html>
<html>
<head>
	<title>My Page Title</title>
	<link rel="stylesheet" href="css/index.css">
</head>
<body class="bg-dark">
	{{> navbar}}
	<center>
	    <div class="name">Eugene Choi</div>
	</center>
</body>
</html>