<!DOCTYPE html>
<html>
<head>
	<title>The Winning Page</title>
	<link rel="stylesheet" href="css/basic.css">
	<link rel="stylesheet" href="css/winlose.css">
</head>
<body>

    <h3>I'm sorry, you have...</h3>
	
	<div id="div_2">
	    <p class="lose">lost :(
	    </p>
	</div>

</body>
</html>