<!DOCTYPE html>
<html>
<head>
	<title>My Page Tite</title>
</head>
<body>
	{{> navbar}}
	<h1>Facts about {{digit}}</h1><br>
	<h2>The number squared: {{squared}}</h2>
	<h2>The number cubed: {{cubed}}</h2>
	<h2>The number to the power of 4: {{power4}}</h2>

</body>
</html>