<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/cereal.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Puppy Voting</title>
</head>
<body class='bg-dark'>
	<img src="img/Bad-Cereal.jpeg" width="200" height = "200" class="rounded float-start" alt="...">
	<img src="img/Good-Cereal.png" width="200" height = "200" class="rounded float-end" alt="...">
</ul>
</body>
</html>