<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/puppy.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Puppy Voting</title>
</head>
<body class='bg-dark'>
    <div class="Odin">
        <div class='counter' id="odin-counter">0</div>
        <img src="img/Odin.jpeg" width="400" height = "400" class="rounded float-start" alt="...">
        <div class="TwoButtons">
            <button>Upvote</button>
            <button>Downvote</button>
        </div>
    </div>
    <div class="Thor">
        <div class='counter' id = thor-counter>0</div>
        <img src="img/Thor.jpeg" width="400" height = "400" class="rounded float-end" alt="...">
        <div class="TwoButtons">
            <button>Upvote</button>
            <button>Downvote</button>
        </div>
    </div>
</body>
</html>