<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/puppy.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Cereal Voting</title>
</head>
<body class='bg-dark'>
    <center>	
        <img src="img/Odin.jpeg" width="400" height = "400" class="rounded float-start" alt="...">
    	<img src="img/Thor.jpeg" width="400" height = "400" class="rounded float-end" alt="...">
	</center>

</ul>
</body>
</html>