<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/puppy.css">
	<title>Puppy Voting</title>
</head>
<body>
    <div class="Odin">
        <div class='counter' id="odin-counter">Votes: {{odin}}</div>
        <img src="img/Odin.jpeg" width="400" height = "400" class="rounded float-start" alt="...">
        <div class="TwoButtons">
            <form action="puppy" method="POST">
                <input type="radio" name="vote-odin" value="up">Upvote</input>
                <input type="radio" name="vote-odin" value="down">Downvote</input>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="Thor">
        <div class='counter' id = thor-counter>Votes: {{thor}}</div>
        <img src="img/Thor.jpeg" width="400" height = "400" class="rounded float-end" alt="...">
        <div class="TwoButtons">
            <form action="puppy" method="POST">
                <input type="radio" name="vote-thor" value="up">Upvote</input>
                <input type="radio" name="vote-thor" value="down">Downvote</input>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>