<!DOCTYPE html>
<html>
<head>
	<title>The Weather Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    </nav>
</head>
<body>
    <form action="getweather" method="GET">
        <label for="lat">Lattitude</label><br>
        <input type="text" id="lat" name="lat" value="72.55"><br>
        <label for="long">Longitude</label><br>
        <input type="text" id="long" name="long" value="56.99"><br>
        <button type="submit" value="Submit">Submit</button>
    </form>
    {{message}}
</body>
</html>

