button{
color:black;
}

body{
    background-color:#333C83;
    display: flex;
    flex-direction: row;
    justify-content:center;
    color: white;
    font-family: Courier;
    
}
img{
    margin: 25px;
    border-radius: 25px;
}
.Odin{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.Thor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.TwoButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
}

button{
    margin:10px;
    width:120px;
    height: 50px;
    font-size: 15px;
    font-family: Courier;
    border-radius: 10px;
    background-color:#FDAF75;
    color:white;
    border: none;
}

button:hover {
  background-color: #EAEA7F;
}

.counter{
    color:white;
    font-size: 50px;
    align-self: center;
    font-family: Courier;
}


